@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bad Script Regular'), local('BadScript-Regular'), url(https://fonts.gstatic.com/s/badscript/v9/6NUT8F6PJgbFWQn47_x7lOw.ttf) format('truetype');
}
@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Coming Soon Regular'), local('ComingSoon-Regular'), url(https://fonts.gstatic.com/s/comingsoon/v12/qWcuB6mzpYL7AJ2VfdQR1u-S.ttf) format('truetype');
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f2f2;
}
body #root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #root .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #root .main header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2em;
}
body #root .main header .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.4em;
}
body #root .main header .head img {
  display: none;
}
body #root .main header .head .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Bad Script', cursive;
}
body #root .main header .head .heading h1 {
  letter-spacing: 0.1em;
  text-align: center;
}
body #root .main header .head .heading h3 {
  letter-spacing: 0.2em;
}
body #root .main header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
  background-color: #aea9a5;
}
body #root .main header nav .navbar {
  display: none;
}
body #root .main header nav .nav-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
body #root .main header nav .nav-small .nav-option {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Coming Soon', cursive;
  width: 50%;
  text-align: center;
}
body #root .main header nav .nav-small .nav-option:hover {
  background-color: #909970;
}
body #root .main header nav .nav-small .button {
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
  border: 2px groove #909970;
}
body #root .main .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin-top: 0.5em;
}
body #root .main .about .about-start {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
body #root .main .about .about-start .text {
  text-align: center;
}
body #root .main .about .about-start .text p {
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
}
body #root .main .about .about-start img {
  width: 45%;
  border-radius: 50%;
}
body #root .main .about .about-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body #root .main .about .about-body p {
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
}
body #root .main .projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #root .main .projects h2 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body #root .main .projects h4 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  text-align: center;
}
body #root .main .projects .project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #aea9a577;
  border: 3px groove #aea9a577;
  margin: 0.5em 0 1.5em 0;
}
body #root .main .projects .project-card h3 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body #root .main .projects .project-card h4 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  text-align: center;
  width: 75%;
}
body #root .main .projects .project-card .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body #root .main .projects .project-card .links a {
  padding: 0 1em;
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  color: black;
}
body #root .main .projects .project-card img {
  width: 55%;
  padding: 0.5em;
}
body #root .main .resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #root .main .resume h2 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body #root .main .resume .resume-parts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  width: 75%;
}
body #root .main .resume .resume-parts .skills-education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}
body #root .main .resume .resume-parts .skills-education .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #root .main .resume .resume-parts .skills-education .skills .desktop {
  display: none;
}
body #root .main .resume .resume-parts .skills-education .skills .mobile tr td {
  padding: 0.1em 1.5em;
}
body #root .main .resume .resume-parts .skills-education .education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
}
body #root .main .resume .resume-parts .skills-education .education .desktop {
  display: none;
}
body #root .main .resume .resume-parts .skills-education .education .mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
}
body #root .main .resume .resume-parts .positions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
}
body #root .main .resume .resume-parts .positions .desktop {
  display: none;
}
body #root .main .resume .resume-parts .positions .mobile tr th {
  padding: 0.5em 0;
}
body #root .main .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body #root .main .contact h2 {
  text-align: center;
}
body #root .main footer {
  font-family: 'Bad Script', cursive;
  background-color: #aea9a5;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
}
body #root .main footer p {
  width: 65%;
  text-align: center;
}
