@1330: ~"only screen and (min-width: 1330px)";
@1000: ~"only screen and (min-width: 1000px)";
@850: ~"only screen and (min-width: 850px)";
@730: ~"only screen and (min-width: 730px)";
@530: ~"only screen and (min-width: 530px)";
@400: ~"only screen and (min-width: 400px)";





// @media screen and (max-width: 730px) {
//     .nav-small {
//         display: block;
//     }
//     .navbar {
//         display: none;
//     }
// }
// .navbar {
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-around;
//     .nav-option {
//         text-decoration: none;
//         cursor: pointer;
//         font-family: 'Coming Soon', cursive;
//     }
//     .nav-optionclicked {
//         font-weight: bold;
//         font-family: 'Coming Soon', cursive;
//         font-size: 1.2em;
//         background-color: #909970;
//         padding: .2em 1em;
        
//     }
// }
// img {
//     width: 6%;
//     border-radius: 50%;
// }

// .desktop {
//     table {
//         tr {
//             td {
//                 padding: 0 .5em;
//             }
//         }
//     }
// }